@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-quanthos-blue { color: #6D7CFF; }
  .bg-quanthos-blue { background-color: #6D7CFF; }
  .border-quanthos-blue { border-color: #6D7CFF; }

  .text-quanthos-magenta { color: #E344FF; }
  .bg-quanthos-magenta { background-color: #E344FF; }
  .border-quanthos-magenta { border-color: #E344FF; }

  .text-quanthos-dark { color: #493570; }
  .bg-quanthos-dark { background-color: #493570; }
  .border-quanthos-dark { border-color: #493570; }

  .text-quanthos-lightViolet { color: #F2AAFF; }
  .bg-quanthos-lightViolet { background-color: #F2AAFF; }

  .text-quanthos-panel { color: #F9F9FC; }
  .bg-quanthos-panel { background-color: #F9F9FC; }

  .bg-gradient-main { 
    background-image: radial-gradient(circle at 50% 40%, #6a4ea8 0%, #513a7a 35%, #493570 60%, #E344FF 100%); 
  }
}
